@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
    body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D61A3C;
    color: #223;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

.container {
  	width: 605px;
    padding: 30px 30px 25px;
    border-radius: 15px;
    background-color: #fff;
  	box-shadow: 0 12px 35px rgba(0,0,0,0.1);
  text-align:center;
}
    .container h2{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
    
        .container h3{
  text-align: center;
}

#quoteBtn {
    border: none;
    color: #fff;
    background-color: #5372F0;
    font-size: 16px;
    padding: 13px 22px;
    border-radius: 30px;
    cursor: pointer;
}
    .container .quoteBtn {
      text-align: center;
    }

#quoteBtn:hover {
    color: #000000;
}

blockquote {
    background: #f9f9f9;
    border-left: 20px solid#f94449;
    width: 20px
    padding: .5rem
}

#quoteAuthor {
    color: #000000;
}
          footer {
    background-color: #333;
    color: white;
    padding: 2px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size:20px;
    height:75px;
}
    #link{
      color: #5372F0;
    }
    #link:hover{
      color: #fff;
    }
#link2{
      color: #fff;
    }
    #link2:hover{
      color: #fff;
    }
